@charset "UTF-8";

p {
    text-align: justify;
    text-indent: 50px;
}

/*Formatação de Imagens*/

figure. foto-legenda {
    border: 20px solid #000000;
    box-shadow: 1px 1px 4px #000000;
}
figure. foto-legenda img {
    width: 100%;
    height: 100%;
}